CONFIG_KASAN_SHADOW_OFFSET=0xd8200000
CONFIG_KASAN_SHADOW_PHYS=0x2cc00000
CONFIG_KASAN_SHADOW_VIRT=0xf0000000
CONFIG_KASAN_SHADOW_SIZE=0x5000000
CONFIG_FRAME_WARN=1024
CONFIG_KASAN=y
CONFIG_SCHED_STACK_END_CHECK=y
