#
# I2C algorithm drivers configuration
#

#menu "I2C Algorithms"
menu "RTK I2C Kdriver "
	visible if !I2C_HELPER_AUTO

config RTK_KDRV_I2C_ALGO_RTK
	tristate "I2C Realtek Kdriver Algorithms interfaces"
	depends on I2C
	default n
	help
		Supports the Realtek Kdriver I2C

config RTK_KDRV_I2C
	tristate "Realtek Kdriver I2C Buses"
	depends on I2C
	select I2C_CHARDEV
	select RTK_KDRV_GPIO
	select I2C_ALGORTK_KDRV
	help
		This driver supports I2C Controller on Realtek SoC

config RTK_KDRV_I2C_BUS_JAM_RECOVER
	bool "Do recover if i2c bus is jammed"
	depends on RTK_KDRV_I2C
	default y
	help
		Say Y here if you do recover procedure if i2c bus is jammed.
		The I2c driver will detect bus status before an i2c transfer.
		If the bus is jammed, then force output 10 extra clocks
		on SCL to recover the bus jam problem.

config RTK_KDRV_I2C_NON_STOP_WRITE_XFER
	bool "Support non stop write"
	depends on RTK_KDRV_I2C
	default n
	help
		Say Y here if you want to supoort non stop write.

config RTK_KDRV_I2C_RTK_SLAVE
	tristate "Support I2C slave mode"
	depends on RTK_KDRV_I2C
	default n
	help
		Enable Realtek I2C slave function

config RTK_KDRV_I2C_HW_SEMAPHORE_SUPPORT
	tristate "Support I2C HW Semaphore Support"
	depends on RTK_KDRV_I2C
	default n
	help
		Enable Realtek I2C HW Sempaphore Support

endmenu
