#SE driver
config RTK_KDRV_SE
	bool "SE (2D Graphic/Streaming Engine) Driver."
	depends on RTK_KDRIVER_SUPPORT
	select RTK_KDRIVER
	default n
	help
		For drawing

#GDMA drvier
config RTK_KDRV_GDMA
	bool "GDMA Driver"
	depends on RTK_KDRIVER_SUPPORT
	select RTK_KDRIVER
	default n
	help
		For display

#GAL driver
config RTK_KDRV_GAL
	bool "GAL Driver"
	depends on RTK_KDRIVER_SUPPORT && RTK_KDRV_SE && RTK_KDRV_GDMA && ION_REALTEK && CUSTOMER_TV006
	select RTK_KDRIVER
	default n
	help
		For kadapter
